@model IEnumerable<Portfolio.Models.Blog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Posts</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Copy)
            </th>
            <th></th>
        </tr>
    </thead>

    @*<tbody>
        @foreach (var blog in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => blog.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => blog.Copy)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@blog.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@blog.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@blog.Id">Delete</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@blog.Id">Comment</a>
                </td>
            </tr>
        }
    </tbody>*@
</table>